/* .up{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
}
.one{   
     height: 320px;
width: 310px;
background-color:  #1d3b6a;
color: white;
text-align: center;
}
.one-circle{
    background-color: #1d3bca;
    height: 90px;
    width: 90px;
    border-radius: 50px;
margin: auto;

}
.one-circle,.two-circle,.three-circle,.four-circle,.five-circle,.six-circle img{
padding-top: 1rem;

}
.one,.two,.three,.four,.five,.six p{
 padding: 1rem;
}
.two{
    height: 320px;
    width: 300px;
    background-color:  #1d3b6a;
    color: white;
text-align: center;
}
.two-circle{
    background-color: #1d3bca;
    height: 90px;
    width: 90px;
    border-radius: 50px;
margin: auto;

}




.three{
    height: 320px;
    width: 300px;
    background-color:  #1d3b6a;
    color: white;
text-align: center;
}
.three-circle{
    background-color: #1d3bca;
    height: 90px;
    width: 90px;
    border-radius: 50px;
margin: auto;

}


.dowan{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}
.four{  
    height: 320px;
width: 310px;
background-color:  #1d3b6a;
color: white;
text-align: center;

}
.four-circle{
    background-color: #1d3bca;
    height: 90px;
    width: 90px;
    border-radius: 50px;
margin: auto;

}
.five{
   height: 320px;
   width: 300px;
   background-color:  #1d3b6a;
   color: white;
text-align: center;

}
.five-circle{
    background-color: #1d3bca;
    height: 90px;
    width: 90px;
    border-radius: 50px;
margin: auto;

}
.six{
   height: 320px;
   width: 300px;
   background-color:  #1d3b6a;
   color: white;
text-align: center;
}
.six-circle{
    background-color: #1d3bca;
    height: 90px;
    width: 90px;
    border-radius: 50px;
margin: auto;

}







@media screen and (max-width:768px)
{
    .up{
        flex-direction: column;
        gap: 1rem;
    }
    .dowan{
        flex-direction: column;
        gap: 1rem;
    }
} */
    


body{
    display: inline;
    justify-content: center;
    align-items: center;
}





.container_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 50px;
    padding: 100px 50px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 350px;
    height: 370px;
    /* gap: 20px y; */
    background-color: #1D3B6A;
    border-radius: 20px;
    box-sizing: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.6s;
}

.container_section .card:hover {
    /* height: 320px; */ 
}

.container_section .card .imgBx {
    position: absolute;
    top: 20px;
    left: 37%;
    border-radius: 12px;
    transition: 0.5s;
    width: 80px;
    height: 80px;
    background: #333;
    text-align: center;
    padding-top: 1rem;
}

.container_section .card:hover .imgBx {
    top: -30px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15);
}

.imgBx img {
    width: 50px;
    object-fit: cover;
}

.container_section .card .content {
    position: absolute;
    top: 150px;
    width: 100%;
    padding: 0, 30px;
    text-align: center;
    height: 20px;
    overflow: hidden;
    transition: 0.5s;

}

.container_section .card:hover .content {
    height: 250px;
    top: 150px;

}

.container_section .card .content h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: whitesmoke;
    padding-bottom: 10px;
}

.container_section .card .content p {
    color: whitesmoke;
    font-size: 1.05em;
    padding-bottom: 10px;

}

.container_section .card .content a {
    color: black;
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}